@import "tailwindcss";

/* Define custom properties for colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #5c0f8b;
}

/* Define custom properties for fonts, 
   type -brand after bg for brand purple
   type -sans for main font, extra bold is headlines, semi bold is body copy 
   type -nunito and use bold for the secondary font used in subheadings, pull quotes, websites, captions, etc
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --font-sans: var(--font-montserrat);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
