#Documentation for DB credential layout (DO NOT PUT CREDENTIALS IN THIS FILE!! SAVE A LOCAL .env FILE!!!)

MARIADB_ROOT_PASSWORD=changeme
MARIADB_DATABASE=your_db_name
MARIADB_USER=your_user
MARIADB_PASSWORD=changeme