@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #5c0f8b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
